/*컨텐츠영역 구성*/
.Admin_MemberInfo.div_content{margin-top: 70px;padding-left:10px;}
.Admin_MemberInfo .titleCardBody{padding:0;min-height:43px;}
.Admin_MemberInfo #content_title{padding-left:10px;line-height:43px;font-weight:bold;font-size:20px;}
.Admin_MemberInfo #title_option{float:right;}
.Admin_MemberInfo .btn_AdminInfo_enroll{padding:5px 15px 5px 15px;border-radius:0.5rem;}

/*검색라인*/
.Admin_MemberInfo .searchFrm{border-radius: 0.25rem;border: 2px solid #bdbdbd;padding: 5px 0 5px 0;}
.Admin_MemberInfo .searchFrm .form-control,.Admin_MemberInfo .searchFrm .custom-select{border: 1px solid black}
.Admin_MemberInfo .searchFrm_btn{margin-left: auto;}
.Admin_MemberInfo .btn_searchFrm_clear,.Admin_MemberInfo .btn_searchFrm_submit{border-radius: 0.25rem;padding: 5px 10px 5px 10px;margin: 0 5px 0 0;height: 38px;font-size: 15px;font-weight: bold;}
.Admin_MemberInfo .searchFrm .form-control.dateLabel{border-top-right-radius: 0;border-bottom-right-radius: 0;border-right: 0;width: 90px;background-color: #ffffff;}
.Admin_MemberInfo .searchFrm .form-control.intputDate{border-top-left-radius: 0;border-bottom-left-radius: 0;width:165px;}

/*회원사목록 테이블*/
.Admin_MemberInfo .memberINfo_table th{font-weight: bold;}

/*회원사정보 일괄등록 모달*/
.Admin_MemberInfo .btn_download_file{font-size: 13px;padding: 4px 12px 4px 12px;border-radius: 1rem;}
.Admin_MemberInfo .frm_upload_file{border-radius: 0.25rem;border: 2px solid #bdbdbd;padding: 5px 0 5px 5px;margin-left: 8px;margin-right: 8px;}
.Admin_MemberInfo .enrollModal_precautions{color:blue;font-size:13px;padding:10px 10px 30px 15px;}
.Admin_MemberInfo .btn_modal_commend{border-radius: 0.25rem;}

/*회원사정보 상세,수정,개별등록 모달*/
.Admin_MemberInfo .memberInfo_Table1 th,.Admin_MemberInfo .memberInfo_Table1 td{padding-top:5px !important;padding-bottom: 5px !important;}
.Admin_MemberInfo .memberInfo_Table1 th{background-color:#9e9e9e;font-weight: bold;text-align: center;}
.Admin_MemberInfo .memberInfo_Table1 input{width:200px;}

