.Con4.div_content{
	/*border:1px dotted blue;*/
	/*min-height:100vh;*/
	padding-left:10px;
}

.Con4 .titleCardBody{
	padding:0;
	min-height:43px;
}

.Con4 #content_title{
	padding-left:10px;
	line-height:43px;
	font-weight:bold;
	font-size:20px;
}

.Con4 #title_option{
	float:right;
}

.btn_con4{
	padding:5px 15px 5px 15px;
	border-radius:0.5rem;
}

.con4CardBody{
	/*height:100vh;*/
}

.con4_pills_title > a {
	padding: 5px 20px 5px 20px;
	border: 1px solid #3E4551;
	border-radius:0.1rem !important;
	background-color: #9e9e9e !important;
	color: black !important;
}

.con4_pills_title > .active {
	font-weight: bold;
	background-color: white !important;
}