.Con5.div_content{
	/*border:1px dotted blue;*/
	min-height:100vh;
	padding-left:10px;
}

.Con5 .titleCardBody{
	padding:0;
	min-height:43px;
}

.Con5 #content_title{
	padding-left:10px;
	line-height:43px;
	font-weight:bold;
	font-size:20px;
}

.Con5 #title_option{
	float:right;
}

.con5CardBody{
	height:100vh;
}

.con5_pills_title > a {
	padding: 5px 20px 5px 20px;
	border: 1px solid #3E4551;
	border-radius:0.1rem !important;
	background-color: #9e9e9e !important;
	color: black !important;
}

.con5_pills_title > .active {
	font-weight: bold;
	background-color: white !important;
}
