.Con6_Log.div_content{
	/*border:1px dotted blue;*/
	min-height:100vh;
	padding-left:10px;
}

.Con6_Log .titleCardBody{
	padding:0;
	min-height:43px;
}

.Con6_Log #content_title{
	padding-left:10px;
	line-height:43px;
	font-weight:bold;
	font-size:20px;
}

.Con6_Log .contentsCardBody{
	height:100vh;
}