.Con6_Notice.div_content{
	/*border:1px dotted blue;*/
	min-height:100vh;
	padding-left:10px;
}

.Con6_Notice .titleCardBody{
	padding:0;
	min-height:43px;
}

.Con6_Notice #content_title{
	padding-left:10px;
	line-height:43px;
	font-weight:bold;
	font-size:20px;
}

.Con6_Notice #title_option{
	float:right;
}

.btn_Notice{
	padding:5px 15px 5px 15px;
	border-radius:0.5rem;
}

.Con6_Notice .contentsCardBody{
	height:100vh;
}